@page "/"

<PageTitle>Home - DJATI Mining Management System</PageTitle>

<FluentCard Class="shadow-none border">
  <FluentStack Orientation="Orientation.Vertical" VerticalGap="8" Width="100%">
    <FluentLabel Class="text-xl font-bold" Color="Color.Accent" Typo="Typography.H2">Welcome, Caldera!</FluentLabel>

    <FluentLabel Typo="Typography.Body">Welcome to, DJATI Mining Management System</FluentLabel>
  </FluentStack>
</FluentCard>

<div class="grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-3 sm:gap-6">
  <a href="/" target="">
    <FluentCard Class="shadow-none border hover:bg-gray-50">
      <div class="flex justify-between items-center">
        <div class="space-y-2">
          <FluentLabel Typo="Typography.Header" Weight="FontWeight.Bold" Color="Color.Accent">
            Assets Group
          </FluentLabel>

          <FluentLabel Typo="Typography.Body" Weight="FontWeight.Normal">
            3-sub Groups
          </FluentLabel>
        </div>

        <FluentIcon Value="@(new Icons.Regular.Size20.ChevronRight())"/>
      </div>
    </FluentCard>
  </a>
</div>

