@inherits LayoutComponentBase

@using EAM.Client.Shared.Components.Menu.Notifications
@using EAM.Client.Shared.Dashboard
@using System.Runtime.InteropServices

<PageTitle>DJATI - Mining Management System</PageTitle>

<FluentDesignTheme OfficeColor="OfficeColor.Excel" Mode="DesignThemeModes.Light"  Direction="LocalizationDirection.LeftToRight" />
<FluentDialogProvider/>
<FluentTooltipProvider/>

<div>
  <FluentLayout>
    <FluentHeader Class="siteheader">
      <a href="/">
        DJATI
      </a>
      <FluentSpacer />
      <div class="notifications">
        <NotificationCenter />
      </div>
    </FluentHeader>
    <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
      <NavMenu />
      <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
        <div class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-3xl space-y-5">
          <div class="space-y-8">
            <FluentMessageBarProvider NewestOnTop="true" ClearAfterNavigation="true" MaxMessageCount="10"  />

            <ErrorBoundary>
              <ChildContent>
                @Body
              </ChildContent>
              <ErrorContent>
                <p class="alert alert-danger">
                  Error!
                </p>
              </ErrorContent>
            </ErrorBoundary>
          </div>
          <FluentToastProvider MaxToastCount="10" />
          <FluentDialogProvider />
          <FluentTooltipProvider />
        </div>
      </FluentBodyContent>
    </FluentStack>

    <FluentFooter Style="@("height: 40px; color: white;")">
      <div class="version">
        <small>
          &nbsp;-&nbsp;
          <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by @RuntimeInformation.FrameworkDescription</a>
        </small>
      </div>
      <FluentSpacer />

      <div class="copy">
        <small>DJATI - MMS © 2023. All rights reserved.</small>
      </div>
    </FluentFooter>
  </FluentLayout>
</div>
